# Default ignored files
/shelf/
/src/src.iml
/External Libraries/
/Extensions/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/idea/
/out/
